
<div class="main-wrap">
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                <div>
                    <a href="/admin/salesreport" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                </div>
            </div>
            <div style="display: flex;justify-content: space-between;"  class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-3">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Total Sales</h6>
                                <span>₹<%=totalSales%></span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders :</h6> 
                                <%if(order){%>
                                <span><%=order.length%></span>
                                <%} else {%>
                                    <span>no orders delivered yet</span>
                                    <%}%>
                                <span class="text-sm">
                                    total orders delivered
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6>
                                <%if(product){%> 
                                <span><%=product.length%></span>
                                <%} else {%>
                                    <span>no products added yet</span>
                                    <%}%>
                                    <%if(category){%>
                                <span class="text-sm">
                                    in <%=category.length%> Categories :
                                </span>
                                <%} else{%>
                                    <span>no categories added yet</span>
                                    <%}%>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Earning</h6> <span><%=monthTotal%></span>
                                <span class="text-sm">
                                    Based in your local time.
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
             
            </div>
            <div  class="row">
                <div class="col-xl-6 col-lg-10">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <canvas id="myChart" height="120px"></canvas>
                        </article>
                    </div>
                </div>
                    <div class="col-xl-6 col-lg-10">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Revenue Base on Area</h5>
                            <canvas id="myChart2" height="217"></canvas>
                        </article>
                    
                    </div>
                </div>
            </div>
        </section>  
    </main>  
       
<script>
    (function ($) {
"use strict";

/Sale statistics Chart/
if ($('#myChart').length) {
    var ctx = document.getElementById('myChart').getContext('2d');
    var datas = `<%- JSON.stringify(orderBasedOnMonths) %>`;
    var parseData = JSON.parse(datas);

    var cancelled = `<%- JSON.stringify(cancelledOrders) %>`;
    var cancelledData = JSON.parse(cancelled);

    var returned = `<%- JSON.stringify(returnedOrders) %>`;
    var returnedData = JSON.parse(returned);

    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
        
        // The data for our dataset
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                    label: 'Orders',
                    tension: 0.3,
                    fill: true,
                    backgroundColor: 'rgba(44, 120, 220, 0.2)',
                    borderColor: 'rgba(44, 120, 220)',
                    data: (() => {
                        const orderCounts = Array.from({ length: 12 }, () => 0);
                        parseData.forEach((month) => {
                            orderCounts[month.month - 1] = month.orderCount;
                        });
                        return orderCounts;
                    })(),
                    
                },
                {
                    label: 'Cancelled',
                    tension: 0.3,
                    fill: true,
                    backgroundColor: 'rgba(4, 209, 130, 0.2)',
                    borderColor: 'rgb(4, 209, 130)',
                    data: (() => {
                        const orderCounts = Array.from({ length: 12 }, () => 0);
                        cancelledData.forEach((month) => {
                            orderCounts[month.month - 1] = month.orderCount;
                        });
                        return orderCounts;
                    })(),
                },
                {
                    label: 'Returned',
                    tension: 0.3,
                    fill: true,
                    backgroundColor: 'rgba(380, 200, 230, 0.2)',
                    borderColor: 'rgb(380, 200, 230)',
                    data: (() => {
                        const orderCounts = Array.from({ length: 12 }, () => 0);
                        returnedData.forEach((month) => {
                            orderCounts[month.month - 1] = month.orderCount;
                        });
                        return orderCounts;
                    })(),
                }

            ]
        },
        options: {
            plugins: {
            legend: {
                labels: {
                usePointStyle: true,
                },
            }
            }
        }
    });
} //End if

/Sale statistics Chart/
if ($('#myChart2').length) {
    var ctx = document.getElementById("myChart2");
    var month = `<%- JSON.stringify(monthlySales) %>`;
    var monthData = JSON.parse(month);

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        datasets: [
            {
                label: "This month",
                backgroundColor: "#5897fb",
                barThickness:10,
                data: (() => {
                        const orderSales = Array.from({ length: 12 }, () => 0);
                        monthData.forEach((month) => {
                            orderSales[month.month - 1] = month.total;
                        });
                        return orderSales;
                    })(),
            }, 
           
        ]
        },
        options: {
            plugins: {
                legend: {
                    labels: {
                    usePointStyle: true,
                    },
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
} //end if

})(jQuery);
</script>
   
