<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">



<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/orders"  aria-controls="tab-orders">Orders</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link"  data-toggle="tab" href="#tab-account" role="#tab-account" aria-controls="tab-address" aria-selected="false">Change Password</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"  data-toggle="tab" href="#tab-wallet" role="#tab-account" aria-controls="tab-address" aria-selected="false">My Wallet</a>
                        </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                              <form  id="myform" action="/editprofile" method="put">
                    
                                <div class="form-group">
                                    <label for="register-password">UserName *</label>
                                    <input  type="text" class="form-control" id="register-password" value="<%=userdata.name%>" name="name" required>
                                </div><!-- End .form-group -->
             
                                <div class="form-group">
                                    <label for="register-email">Your email address *</label>
                                    <input type="email" class="form-control" id="register-email" value="<%=userdata.email%>" name="email" required>
                                </div><!-- End .form-group -->
             
                                <div class="form-group">
                                    <label for="register-password">Mobile Number *</label>
                                    <input type="tel" class="form-control" id="register-password" value="<%=userdata.mobile%>" name="mobile" required>
                                </div><!-- End .form-group -->
                                <button style="color:black;border-radius: 50px;border: none;background-color: goldenrod;" id="submit" type="submit">save changes</button> 
                            </form>
                            </div><!-- .End .tab-pane -->

                            
                            <div class="tab-pane fade " id="tab-wallet" aria-labelledby="tab-wallet-link">
                              <div style="display: flex; justify-content: center; align-items: center;margin-left: 70px;">
                                <h1 style="color: goldenrod;height: 30px;">Your wallet balance is : </h1>
                             
                              <%if(!wallet){%>
                                <div><h1>no wallet Amount</h1></div>
                                <%}else{%>
                              <div>
                                <h1 style="color: rgb(76, 231, 76);"> ₹ <%=wallet.walletAmount%></h1>
                              </div>
                              <%}%>
                            </div>
                             
                            </div><!-- .End .tab-pane -->
                            

                            <div  class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                <div >
                                  <p>The following addresses will be used on the checkout page by default.</p>
                                  <button   style="margin-left: 10px; background-color: white; color: black;border-color: goldenrod;border-width: 1px;"   onclick="showModal()" id="add-address-button"> <span style="color: goldenrod;">add address <strong>   +</strong></span></button> 
                                </div>

                              <%if(addressData===null){%>
                                <h1 style="color: goldenrod;text-decoration: wavy;">no address added</h1>
                                <button style="background-color:goldenrod;border-radius: 50px;border: none;margin-right: auto;margin-left: 10px;" class="addAddress" onclick="showAddModal()">Add Address</button>

                                
                              
                                   
                                    <%}else{%>
                                     
                                        <%addressData.address.forEach(item=>{%>
                                          
                                          <div class="row">
                                            <div style="display: flex;width: auto;">
                                           
                                        <div class="col-lg-12">
                                        
                                            <div class="card card-dashboard">
                                                <div style="width: 400px;" class="card-body">
                                                  <input type="hidden" value="<%=item._id%>" >
                                                    <h6><%=item.radio%></h6>
                                                    <p><%=item.firstname%>
                                                    <%=item.lastname%><br>
                                                    <%=item.email%><br>
                                                    <%=item.streetaddress%><br>
                                                    <%=item.appartment%><br>
                                                    <%=item.town%>, <%=item.state%><br>
                                                    <%=item.mobile%><br>
                                                    <%=item.zip%><br>
                                                    <div style="display: flex; justify-content: space-between; margin-right: auto;">
                                                      <a href="/editaddress/<%=item._id%>"><button  style="color: rgb(241, 24, 24); border: none; background-color: whitesmoke; width: 40px; border-radius: 30px;">
                                                        EDIT
                                                      </button></a>
                                                      <button style="background-color:whitesmoke;border-radius: 50px;border: none;margin-right: auto;margin-left: 10px;" id="delete-button" onclick="deleteAddress('<%=item._id%>')" >Delete Address</button>

                                                    </div>
                                                    
    
                                                </div><!-- End .card-body -->

                                            </div><!-- End .card-dashboard -->
                                          </div>
                                        </div><!-- End .col-lg-6 -->
                                     
                                      
                                </div>
                                <%})%>
                                      <%}%>
                                <!-- End .row -->
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                <form id="change-password">
                                    

                                    <label>Display Name *</label>
                                    <input type="text" class="form-control" name="name" value="<%=userdata.name%>" required>
                                    <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

                                    <label>Email address *</label>
                                    <input type="email" class="form-control" value="<%=userdata.email%>" required>

                                    <label>Current password (leave blank to leave unchanged)</label>
                                    <input type="password" name="current" id="current-password" class="form-control">

                                    <label>New password (leave blank to leave unchanged)</label>
                                    <input type="password" name="newPassword" class="form-control">

                                    <label>Confirm new password</label>
                                    <input type="password" name="newPassword1" class="form-control mb-2">

                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div>
    <div class="modal fade" id="addAddresModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             
            </div>
            <div class="modal-body">
                <form id="addAddress">
                    <span id="error" class="text-danger"></span>
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputEmail4">First Name*</label>
                        <input
                          type="text"
                          class="form-control"
                          name="firstname"
                          placeholder=""
                          id="firstName"
                          required
                        />
                       
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputEmail4">Last Name*</label>
                        <input
                          type="text"
                          class="form-control"
                          name="lastname"
                          placeholder=""
                          id="lastName"
                          required
                        />
                       
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputEmail">Email Address*</label>
                        <input
                          type="text"
                          class="form-control"
                          name="email"
                          placeholder=""
                          id="email"
                          required
                        />
                        <span id="editemail" class="text-danger"></span>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputPhone">Phone*</label>
                        <input
                          type="text"
                          class="form-control"
                          name="mobile"
                          placeholder=""
                          id="phoneNumber"
                          required
                        />
                       
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputStreetAddress"
                          >Street Address*</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="streetAddress"
                          placeholder=""
                         id="streetAddress"
                          required
                        />
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputAppartment">Appartment*</label>
                        <input
                          type="text"
                          class="form-control"
                          name="appartment"
                          placeholder=""
                         id="appartment"
                          required
                        />
                      </div>
                     
                    </div>
                    <div class="row">
                      <div class="mb-3 col-md-4">
                        <label class="form-label" for="inputCity">Town / City*</label>
                        <input
                          type="text"
                          class="form-control"
                          name="town"
                         id="town"
                          required
                        />
                      </div>
                      <div class="mb-3 col-md-4">
                        <label class="form-label" for="inputState">State*</label>
                        <input
                          type="text"
                          class="form-control"
                          name="state"
                          id="state"
                          required
                        />
                      </div>
                      <div class="mb-3 col-md-4">
                        <label class="form-label" for="inputZip">Zip*</label>
                        <input
                          type="text"
                          class="form-control"
                          name="zip"
                          id="zip"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="type">Type of address?*</label>
                        <div>
                          <label class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="radio"
                              value="Home"
                              id="home"
                              required
                            />
                            <span class="form-check-label"> Home </span>
                          </label>
                          <label class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="radio"
                              value="Office"
                              id="office"
                              required
                            />
                            <span class="form-check-label"> Office </span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary bg-info border-0" id="saveAddress" ><i class="bi bi-save"></i> Save Changes</button>
                        </div>
                    
                  </form>
            </div>
            </div>                            
          </div>
          </div><!-- End .page-content -->
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>





<script>
    // var error = document.getElementById('error')
    function showAddModal(){
        var modal = $("#addAddresModal");
        // error.innerHTML = ""
        modal.modal("show");

    }





$("#saveAddress").click(function(event) {
        event.preventDefault();
       
       
        let firstName = $('#firstName').val();
        let lastName = $('#lastName').val();
        let email = $('#email').val();
        let phoneNumber = $('#phoneNumber').val();
        let streetAddress = $('#streetAddress').val();
        let appartment = $('#appartment').val();
        let town = $('#town').val();
        let state = $('#state').val();
        let zip = $('#zip').val(); 
        let  home = $('#home').is(':checked');
        let office = $('#office').is(':checked');
        let radio = home ? 'home':'office'
        console.log(radio);
        if((!firstName || !lastName || !email || !phoneNumber || !streetAddress || !appartment || !town || !state || !zip) && (!home || !office)){
            error.innerHTML = "Please fill all required fields"
            return false;

        }
            $.ajax({
            url:'/add-address',
            type:'PATCH',
            data:$('#addAddress').serialize(),
            success:(response=>{
                if(response.status){
                    Swal.fire({
                    icon: 'success',
                    title: 'Address addedd succesfully',
                    showConfirmButton: false,
                    timer: 1500
                 }).then(() => {
                    location.reload();
              });
                }
            })
        })
})
 


function deleteAddress(addressId){
  $.ajax({
            url:'/delete-address',
            type:'delete',
            data:{addressId:addressId},
            success:(response=>{
                if(response.status){
                    Swal.fire({
                    icon: 'success',
                    title: 'Address deleted succesfully',
                    showConfirmButton: false,
                    timer: 1500
                 })
                }
            })
        })

}

$('#change-password').submit((e)=>{e.preventDefault()

  $.ajax({
  url:'/changePassword',
  method:"post",
  data:$('#change-password').serialize(),
  success:function(response){
    if(response.status){
      Swal.fire({
        icon: 'success',
        title: 'Password changed succesfully',
        showConfirmButton: false,
        timer: 1500
    }).then(()=>{location.reload()})
    }
    else{
      Swal.fire({
        icon: 'success',
        title: 'Enter correct password',
        showConfirmButton: false,
        timer: 1500
    })
    }
  },error:function(error){
    Swal.fire({
        icon: 'error',
        title: 'server error',
        showConfirmButton: false,
        timer: 1500
    })
    }
  })
})





</script>