<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>

<style>
    .btn-danger{
       background-color: red;
       border:none;
    }
    .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

</style>
<%if(!userOrder.length){%>
    <h3 style="color: goldenrod;text-align: center;margin-top: 200px;margin-bottom: 200px;">no orders yet</h3>
    <%} else {%>

<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table style="justify-content: space-evenly;" class="table shopping-summery text-center clean">
                        <thead>
                            <tr class="main-heading">
                                
                                <th style="color: goldenrod" scope="col"><strong>Name</strong> </th>
                                <th style="color: goldenrod" scope="col"><strong>Price</strong> </th>
                                <th style="color: goldenrod" scope="col"><strong>No</strong> </th>
                                <th style="color: goldenrod" scope="col"><strong>discount</strong> </th>
                                <th style="color: goldenrod" scope="col"><strong>Paid</strong> </th>
                                <th style="color: goldenrod" scope="col"><strong>Total</strong> </th>
                                <th style="color: goldenrod" scope="col"><strong>Payment</strong> </th>
                                <th style="color: goldenrod" scope="col"><strong>Status</strong> </th>
                                <th style="color: goldenrod" scope="col"><strong>orderId</strong> </th>
                                <th style="color: goldenrod" scope="col"><strong>Address</strong> </th>
                                <th style="color: goldenrod" scope="col"><strong>ordered on</strong> </th>
                                <th style="color: goldenrod" scope="col"><strong>Options</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                                <%userOrder.forEach(order=>{%>

                           
                                <%order.products.forEach(item=>{%>
                                   
                                        <tr>
                                
                                            <td class="product-des product-name">
                                               <p><strong style="color: red;"><%= item.productname %></strong></p>
                                            </td>
                                            <td class="price" data-title="Price"><span><strong>₹<%= item.productnetprice%></strong></span></td>
                                           
                                            <td class="text-center" data-title="Quantity"><%= item.quantity%></td>
                                            <td class="text-center" data-title="Quantity"><%= order.discount %></td>

                                            
                                            <td class="text-center" data-title="Subtotal">
                                                <span>₹<%= order.totalAmount%></span>
                                            </td>
                                            <td class="text-center" data-title="paymentmethod"><%=order.total%></td>

                                            <td class="text-center" data-title="paymentmethod"><%=order.paymentMethod%></td>
                                            <td class="text-center" data-title="status"><%=item.deliveryStatus%></td>
                                            <td class="text-center" data-title="status"><%=order.orderId%></td>

                                            <td> 
                                                <p><%= order.deliveryDetails.streetaddress %></p> 
                                                <p><%= order.deliveryDetails.appartment %></p> 
                                                <p><%= order.deliveryDetails.state %>,<%= order.deliveryDetails.town %></p>
                                                <p> <%= order.deliveryDetails.zip %></p> </td>
                                                <td><%= new Date(order.createdAt).toLocaleString('en-US', {
                                                    month: 'short',
                                                    day: 'numeric',
                                                    year: 'numeric',
                                                    hour: 'numeric',
                                                    minute: 'numeric',
                                                    hour12: true
                                                }) %></td>
                                            <%if(item.deliveryStatus !== "Delivered"){%>
                                            <td class="action-col">
                                                <%if(item.deliveryStatus === "Cancelled" || item.deliveryStatus === "Returned" ||item.deliveryStatus === "Return requested"){%>
                                                    <p class="text-danger"><%=item.deliveryStatus%></p>
            
                                                    <%}else{%>
                                                        <button class="btn btn-danger " 

                                                        onclick="cancelOrder('<%=order._id%>','<%=item._id%>','<%=item.productId%>','<%=item.quantity%>','<%=order.paymentStatus%>','<%=item.productnetprice%>','<%=cartTotal.total%>','<%=order.paymentMethod%>','<%=item.deliveryStatus%>','<%=order.totalAmount%>')">
                                                        
                                                        Cancel Order
                                                         
                                                        </button>
                                                        <%}%>
                                            </td>
                                            <%}else{%>  
                                                <td class="action-col">
                                                
                                                    <button  class="btn btn-primary"onclick="returnOrder('<%=order._id%>','<%=item._id%>','<%=item.productId%>','<%=item.quantity%>','<%=item.productnetprice%>')">Return</button>
                                                  
                                                 </td>
                                            <%}%>  
                                        </tr>
                            <% })%> 
                           <%})%>
                        </tbody>
                 </table>
             </div>
        </div>
    </div>
</section> 
<%}%>

<script>
// ajax function to cancel order
    function cancelOrder(orderId,itemId,productId,quantity,paymentSatus,productPrice,grandTotal,paymentMethod,deliveryStatus,discountAmount){
        let refundAmount = ( productPrice*quantity)
        Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#4CAF50',
                confirmButtonText: 'Yes, cancel it!'
              }).then((result)=>{
                console.log(result,"resultttt")
                if(result.isConfirmed){
                            $.ajax({
                            url:'/cancel-order',
                            type:'PATCH',
                            data:{
                            orderId:orderId,
                            productId:productId,
                            quantity:quantity,
                            paymentSatus:paymentSatus,
                            deliveryStatus:deliveryStatus,
                            refundAmount:discountAmount,
                            paymentMethod:paymentMethod,
                            itemId:itemId
                        },
                        success:((response)=>{
                               if(response.status){
                                Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Order cancelled successfully',
                                showConfirmButton: false,
                                timer: 1500
                                }).then(()=>{
                                    location.reload()
                                })}}),
                                error:((error)=>{ Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Order cancelling failed',
                                showConfirmButton: false,
                                timer: 1500
                                })})})}})}

 // ajax function to return order
    function returnOrder(orderId,ItemId,productId,quantity,discountAmount){  
       
      Swal.fire({
            title: 'Are you sure?',
            // text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, proceed!'
            }).then(async(result) => {
            if (result.isConfirmed) {
                const { value: text } = await Swal.fire({
                        input: 'textarea',
                        inputLabel: 'Reason to return',
                        inputPlaceholder: 'Type your reason here...',
                        inputAttributes: {
                            'aria-label': 'Type your reason here'
                        },
                        showCancelButton: true
                        })
                      

                        if (text) {
                                    $.ajax({
                                    url:'/return-order',
                                    type:'PATCH',
                                    data:{
                                    orderId,
                                    productId,
                                    quantity,
                                    text,
                                    ItemId,
                                    discountAmount
                                    },
                                    success:((response)=>{
                                    console.log('in response')
                                    Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Return request submitted successfully',
                                    showConfirmButton: false,
                                    timer: 1500
                                    }).then(()=>{
                                        location.reload();
                                    })}),error:((error)=>{
                                    Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Return request not submitted',
                                    showConfirmButton: false,
                                    timer: 1500
                                    })})})}}})}  
</script>
