<head><link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css"></head>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Wishlist<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
			

            <div class="page-content">
            	<div class="container">
					<table class="table table-wishlist table-mobile">
						<%if(!wishlistData){%>
							<div style="display: flex;justify-content: center;"><h6 style="color: goldenrod;">no products in the wishlist!!!</h6></div>
						<%} else {%>
			
							<%wishlistData.product.forEach(element=>{%>
						<thead>
							<tr>
								<th>Image</th>
								<th>Brand</th>
								<th>product</th>
								<th>options</th>
							</tr>
						</thead>

						
						<tbody>
							<tr>
								<th class="product-col">
									<div style="width: auto;height: auto;" class="product">
										<figure class="product-media">
											<a href="#">
												<img src="uploads/<%=element.image%>" alt="Product image">
											</a>
										</figure>

										
									</div><!-- End .product -->
								</th>
								<th>
									<h3 class="product-title">
										<a href="#"><%=element.brand%></a>
									</h3><!-- End .product-title -->
								</th>

								<th>
									<h3 class="product-title">
										<a href="#"><%=element.productname%></a>
									</h3><!-- End .product-title -->
								</th>
							
								<th class="action-col">
                                    <div class="dropdown">
									<button class="btn btn-block btn-outline-primary-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-list-alt"></i>Select Options
                                    </button>

                                    <div class="dropdown-menu">
                                        <a style="cursor: pointer;" class="dropdown-item" onclick="addToCart('<%=element.productId%>')">add to cart</a>
                                        <a style="cursor: pointer;" class="dropdown-item" onclick="removeFromWishlist('<%=element._id%>')">remove</a>
                                        
                                      </div>
                                    </div>
								</th>
								<td class="remove-col"><button onclick="removeFromWishlist('<%=element._id%>')" class="btn-remove"><i class="icon-close"></i></button></td>
							</tr>
						</tbody>
						<%})%>
						<%}%>
					</table><!-- End .table table-wishlist -->
	            	<div class="wishlist-share">
	            		<div class="social-icons social-icons-sm mb-2">
	            			<label class="social-label">Share on:</label>
	    					<a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
	    					<a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
	    					<a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
	    					<a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
	    					<a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
	    				</div><!-- End .soial-icons -->
	            	</div><!-- End .wishlist-share -->
            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

     

    <!-- Mobile Menu -->

	<script src="sweetalert2/dist/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



	<script>

function addToCart(productId){
    
    $.ajax({
      url: `/cart/${productId}`, // URL for adding the product to the cart
      method: 'put',
      data: { productId: productId }, // Data to send with the request (e.g., product ID)
      success: function(response) {
       if(!response.status){
        location.href='/login' 
       }
     else{
        Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'successfully added to cart',
  showConfirmButton: false,
  timer: 1500
})
     }
      },
      error: function() {
		Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'error while adding to cart',
  showConfirmButton: false,
  timer: 1500
})
        console.log(error)
      }
    });
}

function removeFromWishlist(wishlistDataId){
	$.ajax({
	url:'/removeWishList',
	method:'delete',
	data:{wishlistDataId : wishlistDataId},
	success:function(response){
    if(response.status){
		Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'successfully removed from Wishlist',
  showConfirmButton: false,
  timer: 1500
}).then(()=>{location.reload()})
	}
	},error:function(error){
		Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'failed in removing from Wishlist',
  showConfirmButton: false,
  timer: 1500
})
	}
})
}



	</script>
   